<!DOCTYPE html>
<html>
<head>
<title>Users</title>
<link href="{{ STATIC_URL }}css/default.css" rel="stylesheet" type="text/css">
<!--[if IE]>
  <script src="{{ STATIC_URL}}script/vendor/ie.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>

<script type="text/x-handlebars" data-template-name="application">
{% verbatim %}
  <div id="main">
    {{ outlet }}
  </div>
{% endverbatim %}
</script>

<script type="text/x-handlebars" data-template-name="person/page">
{% verbatim %}

<div>
   {{input placeholder="username" value=username}}
   <input type="submit" value="add" {{action addPerson}}/>
</div><br />

<table width="250px">
<thead>

<th>id</th>
<th>username</th>

<th>update</th>
<th>delete</th>
</thead>
<tbody>
   {{#each model}}
    <tr>
      <td>{{id}}</td>
      <td>{{input type="text" value=username}}</td>
      <td><input type="submit" value="update" {{action updatePerson this}}/></td>
      <td><input type="submit" value="delete" {{action deletePerson this}}/></td>
    </tr>
   {{/each}}
</tbody>
</table>

{{#if pagination.page.previous}}
  {{#linkTo 'person.page' pagination.page.previous}}previous{{/linkTo}}
{{/if}}

{{#if pagination.page.next}}
  {{#linkTo 'person.page' pagination.page.next}}next{{/linkTo}}
{{/if}}

{% endverbatim %}
</script>

<script type="text/x-handlebars" data-template-name="not_found">
    
    <h2>Page Not Found: {{path}}</h2>
    
</script>
  
<script src="{{ STATIC_URL }}script/vendor/jquery-1.9.1.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/handlebars-1.0.0.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-1.0.0.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-states.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/ember-data.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/vendor/adapter.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}script/app/person.js" type="text/javascript"></script>

</body>
</html>
